<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta content=" width = device-width , initial-scale = 1.0 , maximum-scale = 1.0 , user-scalable = no " id="viewport" name="viewport">

     <!--meta name="viewport" content="width=640,user-scalable=0, target-densitydpi=device-dpi">-->
    <title>湖北工业大学创业园</title>

   <link href="/static/index/static/css/mobile/active.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="detail">
	<div class="title">{$data['name']}</div>
	<div class="beizhu">发布者：{$data['publisher']}  </div>
	<div class="article">
		活动时间：{$data['time']}<br>
		活动地点：{$data['address']}<br>
		活动对象：{$data['object']}<br>
		主办方：{$data['zhubanfang']}<br>
		承办方：{$data['chengbanfang']}<br>
		协办方：{$data['xiebanfang']}<br>
		合作伙伴：{$data['partner']}<br>		
		发布时间：{$data['update_time']}<br>
		活动要求：{$data['regular']}<br>
		活动内容：<br>{$data['detail']}
	</div>
</div>
</body>
</html1