<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta content=" width = device-width , initial-scale = 1.0 , maximum-scale = 1.0 , user-scalable = no " id="viewport" name="viewport">

     <!--meta name="viewport" content="width=640,user-scalable=0, target-densitydpi=device-dpi">-->
    <title>湖北工业大学创业园</title>

   <link href="/static/index/static/css/mobile/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="detail">
	<div class="title">{$data['tittle']}</div>
	<div class="beizhu">文章出处：{$data['source']}  作者：{$data['author']}</div>
	<div class="article">
		{$data['content']}
	</div>
</div>
</body>
</html1