
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index.css" rel="stylesheet" style="text/css">
<style>

</style>
</head>
<body>
<div class="box">
    <div class="top">
        湖北工业大学双创基地
    </div>
    <div class="middle">
        <div class="m_left">

                        <dl>
                            <dt><a href="addList.html">栏目</a></dt>
                            <dd>
                                <ul>
                                    <li><a href="addList.html">添加栏目</a></li>
                                    <li><a href="modifyList"> 修改栏目</a></li>
                                    <li><a href="deleteList"> 删除栏目</a></li>
                                    <li><a href="haveList.html"> 已有栏目</a></li>
                                </ul>
                            </dd>
                        </dl>

                        <dl>
                            <dt><a href="haveList.html">内容</a></dt>
                            <dd>
                                <ul>
                                    <li><a href="/admin/detail/detail">查看内容</a></li>
                                    <li><a href="addDetail"> 添加内容</a></li>
                                    <li><a href="#"> 删除内容</a></li>
                                    <li><a href="#"> 修改内容</a></li>
                                </ul>
                            </dd>
                        </dl>

                        <dl>
                            <dt><a href="haveList.html">用户</a></dt>
                            <dd>
                                <ul>
                                    <li><a href="addList.html">添加用户</a></li>
                                    <li><a href="#"> 删除用户</a></li>
                                    <li><a href="#"> 修改用户</a></li>
                                </ul>
                            </dd>
                        </dl>

        </div>
        <div class="m_right"></div>
    </div>
</div>

</body>
</html>








