<div class="content">
    <div class="box_a">
        <div class="list_name">{$name}</div>
        <div class="list_nav">{$first_name}>> {$name}>> 正文</div>
    </div>
    <div class="box_b">
        <div class="detail">
            <div class="tittle">{$data[0]['tittle']}</div>
            <div class="source">来源：{$data[0]['source']}&nbsp;&nbsp;&nbsp;&nbsp;
                编辑：{$data[0]['author']}&nbsp;&nbsp;&nbsp;&nbsp;
                发布时间：{$data[0]['publish_time']}</div>
            <div class="article">{$data[0]['content']}</div>
        </div>
    </div>
</div>