<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/admin/index/addFirstList" data-title="一级栏目" href="javascript:void(0)">一级栏目</a></li>
                    <li><a data-href="/admin/index/addSecondList" data-title="二级栏目" href="javascript:void(0)">二级栏目</a></li>
                    <li><a data-href="/admin/index/modifyList" data-title="修改栏目" href="javascript:void(0)">修改栏目</a></li>
                    <li><a data-href="/admin/index/haveList" data-title="已有栏目" href="javascript:void(0)">已有栏目</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/admin/detail/detail" data-title="查看内容" href="javascript:;">查看内容</a></li>
                    <li><a data-href="/admin/detail/editList" data-title="修改内容" href="javascript:void(0)">修改内容</a></li>
                    <li><a data-href="/admin/detail/addDetail" data-title="添加内容" href="javascript:void(0)">添加内容</a></li>

                </ul>
            </dd>
        </dl>

         <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 文件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/admin/file/upload" data-title="文件上传" href="javascript:;">文件上传</a></li>
                    <li><a data-href="/admin/file/download" data-title="文件列表" href="javascript:void(0)">文件列表</a></li>
                </ul>
            </dd>
        </dl>       
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/index/user/addUser" data-title="会员列表" href="javascript:;">添加用户</a></li>
                    <li><a data-href="/index/user/editUser" data-title="管理用户" href="javascript:;">管理用户</a></li>
                    <li><a data-href="/index/user/showUser" data-title="用户列表" href="javascript:;">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/admin/administrator/addPage" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li>
                    <li><a data-href="/admin/administrator/editAdministrator" data-title="修改管理员" href="javascript:void(0)">修改管理员</a></li>
                    <li><a data-href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <li><a data-href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
                    <li><a data-href="/admin/administrator/showAdministrator" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                    <!--
                    <li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
                    <li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
                    <li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
                    <li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
                -->
                </ul>
            </dd>
        </dl>
    </div>
</aside>