<div class="footer">
	<div class="top">
			<div class="part_a">
				<ul>
					<li>移动版</li>
					<li></li>
					<li>学校官网</li>
					<li></li>
					<li>教务处</li>
					<li></li>
					<li>招生信息网</li>
					<li></li>															
				</ul>
			</div>
			<div class="part_b">
				<span >联系方式</span>
				<div class="detail">
					电话： 027-59751111</br>
					地址： 湖北省武汉市洪山区南李路28号</br>
					通讯地址： 湖北工业大学大学生活动中心202室</br>
					邮编： 430068
				</div>
			</div>
			<div class="part_c">
				<ul>
					<li class="li_a"><div class="wechat">
						<img src="./01.png">
						<p>园区微信公众号</p>
					</div>
					</li>
					<li class="li_b"><div class="wechat">
						<img src="./01.png">
						<p>园区微信公众号</p>						
					</div>
					</li>
				</ul>
				
				
			</div>			
	</div>
	<div class="buttom">
		版权所有：湖北工业大学 武汉赢在大学科技有限公司技术支持        Copyright 2018      |     京ICP备16030849号    |   京公网安备 11010802024129号     招办管理
	</div>
</div>