<!--  模板引入需同时引入css样式文件
    <link href="/static/index/static/css/public/common.css" rel="stylesheet" type="text/css">
    <link href="/static/index/static/css/public/detail.css" rel="stylesheet" type="text/css">
-!>




    <!--幻灯片开始-->
    <!--幻灯片结束-->
    <!--主体开始-->
    <div class="detail">
      <!--左侧主体开始-->
      <!--左侧主体开始-->
<div class="left_menu">
<h2 style="font-size:20px;height:44px;line-height:44px;">{$first_name}</h2>
<ul>
                <?php foreach ($category as $key =>$value){ echo '
                <LI style="font-size:18px;height:38px;line-height:38px;"><A href="../../index/index/showCategory?id='.$value['id'].'"
                       target="">'.$value['name'].'</A> </LI>
                ';}?>
</ul>
</div>
<!--左侧主体结束-->
      <!--左侧主体结束-->
      <!--右侧主体开始-->
      <div class="article">
        <h3 class="title" style="height:38px;line-height:38px;">
          <div class="position" style="font-size:14px;">当前位置：<a href="#">{$first_name}</a> &gt; <a href="#">{$name}</a></div>
          <span style="font-size:18px;">{$name}</span>
        </h3>
        <div class="article_list">
          <ul>
     <?php foreach ($contentList as $key =>$value){
          echo '       
              <li style="font-size:16px;height:36px;line-height:36px;">
                <div class="article_list_div"><a href="../../index/index/article?id='.$value['id'].'" target="_blank">'.$value['tittle'].'</a></div>
                <div class="article_list_span">'.$value['publish_time'].'</div>
              </li>
            ';}?>

          </ul>
        </div>

      </div>
      <!--右侧主体结束-->
    </div>
    <!--主体结束-->
    <!--友情链接开始-->
<div class="clear"></div>
<!--友情链接结束-->
