<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="addFirstList" data-title="一级栏目" href="javascript:void(0)">一级栏目</a></li>
                    <li><a data-href="addSecondList" data-title="二级栏目" href="javascript:void(0)">二级栏目</a></li>
                    <li><a data-href="modifyList" data-title="修改栏目" href="javascript:void(0)">修改栏目</a></li>
                    <li><a data-href="haveList" data-title="已有栏目" href="javascript:void(0)">已有栏目</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../detail/detail" data-title="查看内容" href="javascript:;">查看内容</a></li>
                    <li><a data-href="../detail/addDetail" data-title="添加内容" href="javascript:void(0)">添加内容</a></li>

                </ul>
            </dd>
        </dl>
        <dl>
            <dt><i class="Hui-iconfont">&#xe622;</i> 活动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../active/addActive" data-title="发布活动" href="javascript:void(0)">发布活动</a></li>
                    <li><a data-href="../active/activeList" data-title="活动列表" href="javascript:;">活动列表</a></li>
                    <li><a data-href="../active/applyList" data-title="活动申请列表" href="javascript:;">活动申请列表</a></li>
                </ul>
            </dd>
        </dl>

         <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 文件管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../file/upload" data-title="文件上传" href="javascript:;">文件上传</a></li>
                    <li><a data-href="../file/fileList" data-title="文件列表" href="javascript:void(0)">文件列表</a></li>
                </ul>
            </dd>
        </dl>  

        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../image/addImage" data-title="添加图片" href="javascript:void(0)">添加图片</a></li>
                    <li><a data-href="../image/showImage" data-title="查看内容" href="javascript:;">查看图片</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../../index/user/showUser" data-title="用户列表" href="javascript:;">用户列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../administrator/addPage" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li>
                    <li><a data-href="../administrator/editAdministrator" data-title="修改管理员" href="javascript:void(0)">修改管理员</a></li>
                    <li><a data-href="../administrator/showAdministrator" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-apply">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 申请管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../../index/apply/showApply" data-title="申请列表" href="javascript:void(0)">申请列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-public">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 发布管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../Content_public/addContentPublic" data-title="发布管理" href="javascript:;">添加发布</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 静态化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="../../index/Staticpage/staticByOne" data-title="页面静态化" href="javascript:;">页面静态化</a></li>				
                    <li><a data-href="../../index/Staticpage/staticByAll" data-title="页面静态化" href="javascript:;">批量静态化</a></li>

                </ul>
            </dd>
        </dl>		
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="javascript:void(0)">系统设置</a></li>

                </ul>
            </dd>
        </dl>
    </div>
</aside>