{include file="public/header" /}
<body>
<article class="page-container">
    <form action="upload" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="tittle" name="tittle">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span> 文章状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input name="have_from" type="radio" id="six_1" value="1" class="" >发布&nbsp;&nbsp;
                <input name="have_from" type="radio" id="six_0" value="0" class="" checked>存档
            </div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章次序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="order_id" name="order_id">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span> 文章类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input name="type" type="radio"  value="1" class="" checked>原创&nbsp;&nbsp;
                <input name="type" type="radio"  value="2" class="" >转载&nbsp;&nbsp;
                <input name="type" type="radio"  value="3" class="" >其他
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span> 直接跳转：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input name="redirect" type="radio"  value="1" class="" >是&nbsp;&nbsp;
                <input name="redirect" type="radio"  value="2" class="" checked>否&nbsp;&nbsp;
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="author" name="author">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder=""  name="source">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">添加图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" class="input-text" value=""  id="img" placeholder=""  name="img">
            </div>
        </div>



        <!--
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2">文章来源：</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="" placeholder="" id="sources" name="sources">
          </div>
        </div>
    -->

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">


                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
                <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>

            </div>
        </div>
        <div style="width: 400px;height: 100px;"></div>
    </form>
</article>

{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>



<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>