<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--
    <meta content=" width = device-width , initial-scale = 1.0 , maximum-scale = 1.0 , user-scalable = no " id="viewport" name="viewport">
-->
    <meta name="viewport" content="width=640,user-scalable=0, target-densitydpi=device-dpi">
    <title>test</title>

   <link href="./mobileIndex.css" rel="stylesheet" type="text/css">

   <!--
   <script type="text/javascript">
   	window.location.href = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? "http://z.zuyi8.com/index.php/index/Mobile/index" :  "http://z.zuyi8.com";
   </script>
	-->

</head>
<body>
hdsjdtjkdtkydytkdk
</body>
</html1