<HTML>
  <HEAD>
          <TITLE>文件下载</TITLE>
            <META name="keywords" content="湖北工业大学创业园">

            <!--  header-all -->
            <LINK rel="stylesheet" type="text/css" href="/static/index/static/css/index/global.css">
              <!-- banner--all -->
            <LINK rel="stylesheet" type="text/css" href="/static/index/static/css/style.css">
            <LINK rel="stylesheet" type="text/css" href="/static/index/static/css/index/lrtk.css">
              <!-- header-onblur -->
            <SCRIPT type="text/javascript" src="/static/index/static/js/jquery-1.7.2.min.js"></SCRIPT>

              <LINK rel="stylesheet" type="text/css" href="/static/index/static/css/index/content.css">
             <LINK rel="stylesheet" type="text/css" href="/static/index/static/css/index/footer.css">
			<LINK rel="stylesheet" type="text/css" href="/static/index/static/css/public/list_a.css">
			<LINK rel="stylesheet" type="text/css" href="/static/index/static/css/public/foot.css">
			{include file="public/header_index" /}
<!--  模板引入需同时引入css样式文件
    <link href="/static/index/static/css/public/common.css" rel="stylesheet" type="text/css">
    <link href="/static/index/static/css/public/detail.css" rel="stylesheet" type="text/css">
-!>




    <!--幻灯片开始-->
    <!--幻灯片结束-->
    <!--主体开始-->
    <div class="detail">
      <!--左侧主体开始-->
      <!--左侧主体开始-->

<!--左侧主体结束-->
      <!--左侧主体结束-->
      <!--右侧主体开始-->
      <div class="article">
        <h3 class="title">
          <div class="position">当前位置：<a href="#">入园申请</a> &gt; <a href="#">文件下载</a></div>
          <span>文件列表</span>
        </h3>
        <div class="article_list">
          <ul>
     <?php foreach ($contentList as $key =>$value){
          echo '       
              <li>
                <div class="article_list_div"><a href="/upload/file/admin/'.$value['file'].'" target="_blank">'.$value['file_name'].'</a></div>
                <div class="article_list_span">'.$value['create_time'].'</div>
              </li>
            ';}?>

          </ul>
        </div>

      </div>
      <!--右侧主体结束-->
    </div>
    <!--主体结束-->
    <!--友情链接开始-->
<div class="clear"></div>
<!--友情链接结束-->
